:root {
    --square-height: 0;
    --square-width: 0;
}

body {
    box-sizing: border-box;
}

.container {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}

.square {
    border: 1px solid black;
    flex-grow: 1;
    width: var(--square-width);
}
