:root {
    --square-height: 0;
    --square-width: 0;
}

body {
    box-sizing: border-box;
}

.container {
    /* border: 1px solid red; */
    /* position: absolute; */
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    height: 500px;
    width: 500px;
    /* height: 512px;
    width: 512px; */
    overflow: hidden;
}

.square {
    border: 1px solid black;
    height: var(--square-height);
    width: var(--square-width);
}

/* .active {
    background-color: grey;
} */